/*
!.gitignore
!*.md
!lockbox-controller-A2/
!table-controller-A1/
!dimmer-test/

!libraries/

libraries/*
!libraries/.gitignore
!libraries/EthernetV2_0
!libraries/XmlTokenParser
!libraries/XmlTokenWriter
!libraries/PlayroomCommon
!libraries/MsTimer2
!libraries/FlexiTimer2
!libraries/SwitchablePrinter

